@layer global, components, utilities;

@layer global {
	
	/* roboto-regular - latin */
	@font-face {
		font-display: swap;
		/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/roboto-v50-latin-regular.woff2') format('woff2');
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	
	/* roboto-700 - latin */
	@font-face {
		font-display: swap;
		/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url('fonts/roboto-v50-latin-700.woff2') format('woff2');
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	
	:root {
		/* || FONT SIZES */
		
		--FS-12: calc(12 / 16 * 1rem);
		--FS-14: calc(14 / 16 * 1rem);
		--FS-16: calc(16 / 16 * 1rem);
		--FS-17: calc(17 / 16 * 1rem);
		--FS-18: calc(18 / 16 * 1rem);
		--FS-28: calc(28 / 16 * 1rem);
		--FS-38: calc(38 / 16 * 1rem);
		--FS-42: calc(42 / 16 * 1rem);
		--FS-48: calc(42 / 16 * 1rem);
		--FS-52: calc(52 / 16 * 1rem);
		--FS-60: calc(60 / 16 * 1rem);
		
		--FS-PARAGRAPH: var(--FS-18);
		--FS-H3: var(--FS-17);
		--FS-TITLE: var(--FS-42);
		--FS-EMAIL: var(--FS-14);
		
		@media (width >=calc(600 / 16 * 1rem)) {
			--FS-TITLE: var(--FS-52);
			--FS-PARAGRAPH: var(--FS-16);
		}
		
		/* || COLORS */
		
		/* || PRIMARY */
		--C-RED: hsl(4, 100%, 67%);
		
		/* || NEUTRAL */
		--C-BLUE-800: hsl(234, 29%, 20%);
		--C-BLUE-700: hsl(235, 18%, 26%);
		--C-Grey: hsl(0, 0%, 58%);
		--C-WHITE: hsl(0, 0%, 100%);
		
		/* || SPECIFIED */
		--C-BODY-BG: var(--C-BLUE-700);
		--C-MAIN-BG: var(--C-WHITE);
		--C-CONTENT-TEXT: var(--C-BLUE-800);
		--C-MAIN-TITLE: var(--C-BLUE-800);
		--C-BUTTON-BG-HOVER: VAR();
		--C-BUTTON-BG: VAR(--C-BLUE-800);
		--C-BUTTON-TEXT: var(--C-WHITE);
	}
	
	/* || RESET */
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	
	* {
		margin: 0;
		padding: 0;
	}
	
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
	
	/* || MAIN GLOBAL STYLES */
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		font-family: "Roboto", Arial, Helvetica, sans-serif;
		font-weight: 500;
		background-color: var(--C-BODY-BG);
		position: relative;
	}
	
	h1 {
		line-height: 1.1;
		font-size: var(--FS-TITLE);
		font-weight: 700;
	}
	
	p {
		font-size: var(--FS-PARAGRAPH);
		font-weight: 500;
	}
}

@layer component {
	.main {
		max-width: calc(100% - calc(60 / 16 * 1rem));
		display: flex;
		flex-flow: column;
		justify-content: center;
		gap: calc(10 / 16 * 1rem);
		background: var(--C-MAIN-BG);
		
		@media (width >=calc(600 / 16 * 1rem)) {
			flex-flow: row-reverse;
			padding: calc(15 / 16 * 1rem) calc(10 / 16 * 1rem);
			align-items: center;
			max-width: calc(810 / 16 * 1rem);
			border-radius: calc(30 / 16 * 1rem);
			gap: calc(20 / 16 * 1rem);
		}
		
		.main__img-wrapper {
			max-width: 100%;
			
			@media (width >=calc(600 / 16 * 1rem)) {
				display: flex;
				justify-content: center;
				align-items: center;
				max-width: 45%;
				min-height: 100%;
			}
		}
		
		picture img {
			
			width: 100%;
			margin-bottom: calc(20 / 16 * 1rem);
			
			@media (width >=calc(600 / 16 * 1rem)) {
				width: 100%;
				margin: 0;
				border-radius: calc(20 / 16 * 1rem);
				height: calc(600 / 16 * 1rem);
				object-fit: cover;
				object-position: center;
			}
		}
		
		.main-content {
			padding-inline: calc(30 / 16 * 1rem);
			max-width: calc(390 / 16 * 1rem);
		}
		
		.signup {}
		
		.text {
			color: var(--C-CONTENT-TEXT);
			display: flex;
			flex-flow: column;
			gap: calc(20 / 16 * 1rem);
			font-weight: 400;
		}
		
		header h1.heading {
			color: var(--C-MAIN-TITLE);
			font-size: var(--FS-TITLE);
			font-weight: 700;
		}
		
		.join {
			color: var(--C-CONTENT-TEXT);
		}
		
		.benefits {
			font-size: var(--FS-16);
			list-style-type: none;
		}
		
		.benefits li {
			font-size: var(--FS-18);
			margin-bottom: calc(20 / 16 * 1rem);
			padding: 0 calc(10 / 16 * 1rem) 0 calc(35 / 16 * 1rem);
			position: relative;
			
			@media (width >=calc(600 / 16 * 1rem)) {
				font-size: var(--FS-16);
			}
			
			&::before {
				content: url('images/icon-list.svg');
				position: absolute;
				left: calc(1 / 16 * 1rem);
				top: -calc(2 / 16 * 1rem);
			}
		}
		
		label[for="email"] {
			font-size: var(--FS-EMAIL);
			color: var(--C-BLUE-800);
			font-weight: 700;
		}
		
		.input {
			margin: calc(5 / 16 * 1rem) 0 calc(25 / 16 * 1rem) 0;
		}
		
		.email {
			width: 100%;
			padding: calc(15 / 16 * 1rem);
			font-size: var(--FS-18);
			border-radius: calc(7 / 16 * 1rem);
			border: calc(1 / 16 * 1rem) solid var(--C-Grey);
			outline: none;
			
			&::placeholder {
				color: var(--C-Grey);
				font-weight: 400;
				opacity: 0.9;
			}
			
			&:focus {
				outline: none;
			}
			
			&:invalid {
				border: calc(2 / 16 * 1rem) solid red;
				outline: none;
			}
		}
		
		.subscribe {
			display: block;
			width: 100%;
			font-size: var(--FS-17);
			background-color: var(--C-BUTTON-BG);
			color: var(--C-BUTTON-TEXT);
			border: none;
			border-radius: calc(8 / 16 * 1rem);
			font-weight: 700;
			padding: calc(17 / 16 * 1rem);
			margin: 0 auto calc(30 / 16 * 1rem) auto;
			
				@media (width >=calc(600 / 16 * 1rem)) {
					&:hover {
				cursor: pointer;
			}
	}
			
			&:hover,
			:focus {
				background: linear-gradient(to right, #FF527B, #FF6A3A);
				box-shadow: 0 calc(10 / 16 * 1rem) calc(20 / 16 * 1rem) 0 #A8A8A8;
				transition: all 0.3s ease-in;
				cursor: pointer;
			}
		}
	}
	
	.errors {
		color: red;
		margin-top: calc(5 / 16 * 1rem);
		font-size: var(--FS-14);
	}
	
	.shake {
		animation: shake 0.8s ease-in-out;
	}
	
	@keyframes shake {
		0% {
			transform: translateX(-5px);
		}
		
		25% {
			transform: translateX(5px);
		}
		
		50% {
			transform: translateX(-5px);
		}
		
		75% {
			transform: translateX(5px);
		}
		
		100% {
			transform: translateX(0px);
		}
	}
	
	.success-section {
		max-width: calc(100% - calc(0 / 16 * 1rem));
		display: flex;
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
		flex-flow: column;
		height: 100vh;
		padding: calc(40 / 16 * 1rem);
		justify-content: center;
		gap: calc(10 / 16 * 1rem);
		background: var(--C-MAIN-BG);
		box-shadow: 0 calc(10 / 16 * 1rem) calc(29 / 16 * 1rem) 0 var(--C-BLUE-800);
		
		@media (width >=calc(600 / 16 * 1rem)) {
			max-width: calc(490 / 16 * 1rem);
			padding: calc(10 / 16 * 1rem) calc(55 / 16 * 1rem);
			max-height: calc(530 / 16 * 1rem);
			border-radius: calc(40 / 16 * 1rem);
			gap: calc(10 / 16 * 1rem);
		}
		
		.success {
			width: calc(70 / 16 * 1rem);
			margin-block: calc(140 / 16 * 1rem) calc(30 / 16 * 1rem);
			
			@media (width >=calc(600 / 16 * 1rem)) {
				margin-block: calc(5 / 16 * 1rem) calc(20 / 16 * 1rem);
			}
		}
		
		.success-msg {
			color: var(--C-CONTENT-TEXT);
			display: flex;
			flex-flow: column;
			gap: calc(20 / 16 * 1rem);
			font-weight: 400;
			padding-right: calc(20 / 16 * 1rem);
			margin-bottom: calc(250 / 16 * 1rem);
			
			@media (width >=calc(600 / 16 * 1rem)) {
				margin-bottom: calc(25 / 16 * 1rem);
			}
		}
		
		.header {
			color: var(--C-MAIN-TITLE);
			font-size: var(--FS-60);
			font-weight: 700;
		}
		
		.done {
			font-size: var(--FS-18);
			font-weight: 500;
			line-height: 1.6;
		}
		
		.done span {
			font-weight: 700;
			color: var(--C-MAIN-TITLE);
		}
		
		.dismiss {
			color: var(--C-WHITE);
			font-size: var(--FS-18);
			font-weight: 700;
			background: var(--C-BUTTON-BG);
			border: none;
			border-radius: calc(10 / 16 * 1rem);
			padding: calc(20 / 16 * 1rem) calc(30 / 16 * 1rem);
			margin: 0;
			
			@media (width >=calc(600 / 16 * 1rem)) {
				margin-bottom: calc(20 / 16 * 1rem);

				&:hover {
					cursor: pointer;
				}
			}
			
			&:hover,
			:focus {
				background: linear-gradient(to right, #FF527B, #FF6A3A);
				box-shadow: 0 calc(10 / 16 * 1rem) calc(20 / 16 * 1rem) 0 #A8A8A8;
				transition: all 0.3s ease-in;
				cursor: pointer;
			}
		}
	}
}

@layer utilities {
	.offscreen {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		
		&.skip:focus {
			left: 0;
			width: auto;
			height: auto;
			background: #fff;
			padding: 10px;
			border: 1px solid;
		}
	}
	
	.attribution {
		font-size: 11px;
		text-align: center;
	}
	
	.footer {
		position: fixed;
		bottom: 0;
		color: #fff;
		
		.attribution {
			font-size: 11px;
			text-align: center;
		}
		
		.attribution a {
			color: hsla(228, 88%, 53%, 1)
		}
	}
}